<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ t['login_title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>{{ t['login_title'] }}</h1>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash-messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form method="POST" class="form-container">
            <label>{{ t['username_label'] }}
                <input type="text" name="username" required>
            </label>

            <label>{{ t['password_label'] }}
                <input type="password" name="password" required>
            </label>

            <button type="submit" class="add-button">{{ t['login_button'] }}</button>
        </form>

        <div class="header-actions">
            <a href="/register" class="add-button">{{ t['register_link'] }}</a>
        </div>
    </main>
</body>
</html>
